[Unit]
Description = prometheus server Service

[Service]
User=expense
Environment=DB_HOST="mysql-{{ env }}.rajdevops.store"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target