[Unit]
Description = prometheus server Service

[Service]
User=bin
ExecStart=
SyslogIdentifier=/opt/prometheus-{{ version }}.linux-amd64
prometheus

[Install]
WantedBy=multi-user.target